@model CatViewModel

<h1>Add Cat info</h1>
<hr />
<form method="post">
    <div class="form-group">
    <label>Cat Name:</label>
    <input type="text" name="Name" id="name" class="form-control"/>
    </div>
        <div class ="form-group">        
            <label>Cat Age:</label>
            <input type="text" name="Age" id="age" class="form-control" />
        </div>
        <div class ="form-group">
                
             <label>Cat Breed:</label>
             <input type="text" name="Breed" id="breed" class="form-control" />
        </div>
        <div class="form-group">
             <label>Cat Cat Image URL:</label>
             <input type="text" name="ImageURL" id="imageurl" class="form-control" />
        </div>
         <div class="form-group">
              <input type="submit" value="submit" class="btn btn-primary" />
          </div>
</form>
